html {
    height: 200%;
    width: 70%;
    margin: 0 auto;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; 
}

.main-flex {
    flex: 1;
    padding: 12px 15%;
}

.first-section {
    background-color: darkslategrey;
    color: white;
}

/* .second-section {

} */

.third-section {
    background-color: darkgrey;
}

/* .fourth-section {
    
} */

.second-section, .fourth-section {
    background-color: white;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

p {
    margin: 0;
    padding: 0;
}

.top-container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-link-container ul {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
}

.top-list-item {
    font-size: 12px;
}

.top-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 2px cyan;
}

.top-container-2c1 {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.top-section-header-1 {
    margin: 0;
    padding: 0;
}

#top-section-image {
    /* width: 100%;
    height: 100%; */
    flex: 1 1 50%;
}


img {
    border: solid 2px cyan;
}

/* * {
    border-style: solid;
    border-width: 2px;
    border-color: red;
} */
